
<div id="addPage">
	<div class = "container">
		<div class = "row">
			<div class="col"></div>
			<div class = "col-auto">
				<p><h2>Новая задача:</h2></p>
			</div>
			<div class="col"></div>
		</div>
		<div class = "row">
			<div class="col"></div>
			<div class = "col-auto">
				<input class="form-control" type="text" id="addTf" style="margin-bottom: 10px" />
			</div>
			<div class="col"></div>
		</div>
		<div class = "row">
			<div class="col"></div>
			<div class = "col-auto">
				<p>
					<div class="btn-group">
						<button class="btn btn-success" type="Button" id="submitAddButton">Добавить</button>
						<button class="btn btn-warning" type="Button" id="returnToListPageButton">Назад</button>
					</div>
				</p>
			</div>
			<div class="col"></div>
		</div>
	</div>
</div>
