
<div id="editPage">
	<div class = "container">
		<div class = "row">
			<div class="col"></div>
			<div class = "col-auto">
				<p><h2>Изменить задачу:</h2></p>
			</div>
			<div class="col"></div>
		</div>
		<div class = "row">
			<div class="col"></div>
			<div class = "col-auto">
				<p><input class="form-control" type="text" id = "editTf"/></p>
			</div>
			<div class="col"></div>
		</div>
		<div class = "row">
			<div class="col"></div>
			<div class = "col-auto">
				<p>
					<div class="btn-group">
						<button class="btn btn-success" type="Button" id="okButton">Ok</button>
						<button class="btn btn-danger" type="Button" id="deleteButton">Удалить</button>
					</div>
				</p>
			</div>
			<div class="col"></div>
		</div>
	</div>
</div>
