
<div id="listPage">
	<div class = "container">
		<div class = "row">
			<div class="col"></div>
			<div class = "col-auto">
				<p><h2>TODO List:</h2></p>
			</div>
			<div class="col"></div>
		</div>
		<div class = "row">
			<div class="col"></div>
			<div class = "col-auto">
				<ul class="list list-group" style="margin-bottom: 10px">
				</ul>
			</div>
			<div class="col"></div>
		</div>
		<div class = "row">
			<div class="col"></div>
			<div class = "col-auto">
				<p>
					<div class="btn-group">
						<button class="btn btn-success" type="Button" id = "showAddPageButton">Добавить</button>
						<button class="btn btn-warning" type="Button" id = "returnToStartPageButton">Назад</button>
					</div>
				</p>
			</div>
			<div class="col"></div>
		</div>
	</div>
</div>
